{% extends "base.html" %}

{% block content %}
<div class="max-w-lg mx-auto bg-gray-800 text-white p-6 rounded-lg shadow-md">
    <h1 class="text-2xl font-bold text-center mb-6">Update Your Profile</h1>

    <form method="POST" class="space-y-4" enctype="multipart/form-data">
        {% csrf_token %}
        <!-- Render the form fields -->
        <div class="space-y-4">
            {{user_form.as_p }}
            {{profile_form.as_p}}

        </div>

        <!-- Submit button -->
        <div class="flex justify-center mt-4">
            <button type="submit" 
                class="px-6 py-2 bg-blue-500 hover:bg-blue-700 text-white font-semibold rounded shadow-md transition duration-300">
                Update Profile
            </button>
        </div>
    </form>
</div>
{% endblock %}

